
@{
    ViewData["Title"] = "FindWorkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-controller="FindWorkoutCtrl" ng-cloak>
	<h2>See Your Past Workouts</h2>

	<div class="card-deck">
		<a ng-repeat="workout in workoutList | orderBy : '-CompleteDateTime'" href="/home/workout/{{workout.WorkoutID}}">
			<div class="card mt-2 mb-3" >
				<div class="card-body">
					<h5 class="card-title">{{workout.CompleteDateTime | date}}</h5>
					<p ng-repeat="lift in workout.Lifts" class="card-text">{{lift.LiftName}}</p>
				</div>
			</div>
		</a>
		</div>
	</div>