@{
	ViewData["Title"] = "Stats";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/StyleSheet1.css" rel="stylesheet" />

<div ng-controller="StatsCtrl" class="container" ng-cloak>

    <div class="alert alert-warning" ng-cloak ng-if={{loggedIn}}>
        <strong>Oops!</strong> Sign in to view your stats.
    </div>

    <h1 class="text-center">Stats</h1>
    <p class="text-center">
        Here you will find a summary of your current statistics.
    </p>

    <div class="row">
        <div class="col-md-4">
            <div class="single-stat" id="vitals">
                <h2 align="center">Git Vitals</h2>
                <center><i class="fas fa-weight fa-5x"></i></center>
                <h4>Height:</h4>
                <h4>Weight:</h4>
                <h4>Age:</h4>
            </div>
        </div>
        <div class="col-md-4">
            <div class="single-stat" id="gitstats">
                <h2 align="center">Git Stats</h2>
                <center><i class="fas fa-pen-square fa-5x"></i></center>
                <h4>Workouts Completed:</h4>
                <h4>Goal Streak:</h4>
                <h4>Record Breaks:</h4>
            </div>
        </div>
        <div class="col-md-4">
            <div class="single-stat" id="records">
                <h2 align="center">Git Records</h2>
                <center><i class="fas fa-dumbbell fa-5x"></i></center>
                <h4 align="center" ng-if="max1Avail==false">No Bests Recorded Yet!</h4>
                <h4 ng-if="max1Avail">Best {{max1Name}}: {{max1}} lbs</h4>
                <h4 ng-if="max2Avail">Best {{max2Name}}: {{max2}} lbs</h4>
                <h4 ng-if="max3Avail">Best {{max3Name}}: {{max3}} lbs</h4>
                <h4 ng-if="max4Avail">Best {{max4Name}}: {{max4}} lbs</h4>



            </div>
        </div>

    </div>

    <a type ="button" class="btn btn-primary" href="/home/progress" id="progButton"> View your progress</a>
</div>
