
@{
    ViewData["Title"] = "ViewAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" ng-controller="ViewAccountCtrl" ng-cloak>
    <ul class="nav nav-tabs md-tabs" id="ViewAccountTabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="BasicInfo" data-toggle="tab" href="#basicInfo" role="tab" aria-controls="basicInfo"
               aria-selected="true">Basic Info</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="Attributes" data-toggle="tab" href="#attributes" role="tab" aria-controls="attributes"
               aria-selected="false">Attributes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="MailSettings" data-toggle="tab" href="#mailSettings" role="tab" aria-controls="mailSettings"
               aria-selected="false">Mail Settings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="ChangePassword" data-toggle="tab" href="#changePass" role="tab" aria-controls="changePass"
               aria-selected="false">Change Password</a>
        </li>
    </ul>
    <div class="tab-content card pt-5" id="ViewAccountTabsContent">
        <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="BasicInfo">
            <div class="row">
                <div class="text-center col-12 account-avatar">
                    <img alt="Profile Photo" src="~/images/Car.svg" class="img-circle img-responsive" width="120" height="120" />
                </div>
            </div>
            <!-- Default form register -->
            <form id="BasicInfoForm" class="text-center border border-light p-5">

                <div class="form-row mb-4">
                    <div class="col">
                        <!-- First name -->
                        <input type="text" id="FirstName" ng-model="basicInfo.firstName" class="form-control" placeholder="First name">
                    </div>
                    <div class="col">
                        <!-- Last name -->
                        <input type="text" id="LastName" ng-model="basicInfo.lastName" class="form-control" placeholder="Last name">
                    </div>
                </div>
                <div class="form-row">
                    <!-- E-mail -->
                    <input type="email" id="Email" ng-model="basicInfo.email" class="form-control mb-4" placeholder="E-mail">
                </div>

                <div class="form-row mb-4">
                    <!--Username-->
                    <input type="text" id="Username" ng-model="basicInfo.username" class="form-control" placeholder="Username">
                </div>


                <!-- Sign up button -->
                <button class="btn btn-info my-4 btn-block" ng-click="submitBasicInfoForm()" type="submit">Update Profile</button>





            </form>
            <!-- Default form register -->
        </div>
        <div class="tab-pane fade" id="attributes" role="tabpanel" aria-labelledby="Attributes">
            <div class="row">
                <div class="text-center col-12 account-avatar">
                    <img alt="Profile Photo" src="~/images/Car.svg" class="img-circle img-responsive" width="120" height="120" />
                </div>
            </div>
            <!-- Default form register -->
            <form id="AttributesForm" class="text-center border border-light p-5">

                <div class="form-row mb-4">
                    <input type="text" id="Height" ng-model="attributes.height" class="form-control" placeholder="Height">
                </div>
                <div class="form-row mb-4">
                    <input type="text" id="StartWeight" ng-model="attributes.startingWeight" class="form-control" placeholder="Starting Weight">
                </div>
                <div class="form-row mb-4">
                    <input type="text" id="CurrentWeight" ng-model="attributes.currentWeight" class="form-control" placeholder="Current Weight">
                </div>
                <div class="form-row mb-4">
                    <input type="text" id="GoalWeight" ng-model="attributes.goalWeight" class="form-control" placeholder="Goal Weight">
                </div>
                <div class="form-row mb-4">
                    <!--<input type="text" id="Gender" ng-model="attributes.gender" class="form-control" placeholder="Gender">-->
                    <select name="gender" ng-model="attributes.gender" class="form-control">
                        <option value="">Choose gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="form-row mb-4">
                    <label for="Birthday">Select your birthday </label>
                    <input type="date" id="Birthday" ng-model="attributes.birthday" placeholder="mm-dd-yyyy">
                </div>
                <div class="form-row mb-4">
                    <input type="text" id="Waist" ng-model="attributes.waistMeasure" class="form-control" placeholder="Waist Measure">
                </div>
                <div class="form-row mb-4">
                    <input type="text" id="Arm" ng-model="attributes.armMeasure" class="form-control" placeholder="Arm Measure">
                </div>
                <div class="form-row mb-4">
                    <input type="text" id="Chest" ng-model="attributes.chestMeasure" class="form-control" placeholder="Chest Measure">
                </div>
                <div class="form-row mb-4">
                    <input type="text" id="Back" ng-model="attributes.backMeasure" class="form-control" placeholder="Back Measure">
                </div>
                <div class="form-row mb-4">
                    <input type="text" id="Leg" ng-model="attributes.legMeasure" class="form-control" placeholder="Leg Measure">
                </div>


                <!-- Sign up button -->
                <button class="btn btn-info my-4 btn-block" ng-click="submitAttributesForm()" type="submit">Update Attributes</button>



            </form>
            <!-- Default form register -->
        </div>
        <div class="tab-pane fade" id="mailSettings" role="tabpanel" aria-labelledby="MailSettings">
            <div class="row">
                <div class="text-center col-12 account-avatar">
                    <img alt="Profile Photo" src="~/images/Car.svg" class="img-circle img-responsive" width="120" height="120" />
                </div>
            </div>
            <!-- Default form register -->
            <form id="MailSettingForm" class="text-center border border-light p-5">

                <div class="form-row">
                    <!-- E-mail -->
                    <input type="email" id="MailSettingOldEmail" ng-model="mailSetting.oldEmail" class="form-control mb-4" placeholder="Old E-mail">
                </div>

                <div class="form-row">
                    <!-- E-mail -->
                    <input type="email" id="MailSettingNewEmail" ng-model="mailSetting.newEmail" class="form-control mb-4" placeholder="New E-mail">
                </div>

                <div class="form-row mb-4">
                    <!-- Password -->
                    <input type="password" id="Password" ng-model="password" class="form-control" placeholder="Password" aria-describedby="dPasswordHelpBlock">
                    <small id="PasswordHelpBlock" class="form-text text-muted mb-4">
                        At least 8 characters and 1 digit
                    </small>
                </div>

                <!-- Sign up button -->
                <button class="btn btn-info my-4 btn-block" ng-click="submitMailSettingForm()" type="submit">Update Email</button>

            </form>
            <!-- Default form register -->
        </div>
        <div class="tab-pane fade" id="changePass" role="tabpanel" aria-labelledby="ChangePassword">
            <div class="row">
                <div class="text-center col-12 account-avatar">
                    <img alt="Profile Photo" src="~/images/Car.svg" class="img-circle img-responsive" width="120" height="120" />
                </div>
            </div>
            <!-- Default form register -->
            <form id="BasicInfoForm" class="text-center border border-light p-5">

                <div class="form-row mb-4">
                    <!--Username-->
                    <input type="text" id="ChangePassUsername" ng-model="changePass.username" class="form-control" placeholder="Username" required="required" />
                </div>
                <div class="form-row mb-4">
                    <!-- Old Password -->
                    <input type="password" id="ChangePassOldPassword" ng-model="changePass.password" class="form-control" placeholder="Old Password" aria-describedby="dPasswordHelpBlock" required="required" />
                </div>

                <div class="form-row mb-4">
                    <!-- New Password -->
                    <input type="password" id="ChangePassNewPassword" ng-model="changePass.newPassword" class="form-control" placeholder="New Password" aria-describedby="dPasswordHelpBlock" required="required" />
                    <small id="PasswordHelpBlock" class="form-text text-muted mb-4">
                        At least 8 characters and 1 digit
                    </small>
                </div>

                <div class="form-row mb-4">
                    <!-- New Password Confirmation-->
                    <input type="password" id="ChangePassNewPassword2" ng-blur="doesPasswordMatch()" ng-model="changePass.newPassword2" class="form-control" placeholder="Confirm New Password" aria-describedby="dPasswordHelpBlock" required="required" />
                    <div class="alert alert-warning" ng-if="!doesPasswordMatch() && changePass.NewPassword.$dirty && changePass.NewPassorwd2.$dirty">Passwords are not correct or don't match </div>
                    <small id="PasswordHelpBlock" class="form-text text-muted mb-4">
                        At least 8 characters and 1 digit
                    </small>
                </div>

                <!-- sign up button -->
                <button class="btn btn-info my-4 btn-block" ng-click="submitChangePassForm()" ng-disabled="changePass.$invalid || !doesPasswordMatch()" type="submit">Change Password</button>


            </form>
            <!-- Default form register -->
        </div>
    </div>


	
</div>

