
@{
	ViewData["Title"] = "Workout";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-controller="WorkoutCtrl" class="container" ng-cloak>
	<h1>Workout</h1>

	<ul class="nav nav-tabs" id="workoutTabs" role="tablist">
		<li ng-repeat="lift in workout.Lifts" class="nav-item">
			<a class="nav-link" ng-class="{show : $index==0, active : $index==0}" aria-selected="{{$index==0}}" id="{{lift.LiftID}}" data-toggle="tab" href="#lift{{lift.LiftID}}" role="tab" aria-controls="lift{{lift.LiftID}}">
				{{lift.LiftName}}
			</a>
		</li>

	</ul>
	<div class="tab-content" id="myTabContent">
		<div ng-repeat="lift in workout.Lifts" ng-class="{show : $index==0, active : $index==0}" class="mx-3 tab-pane fade" id="lift{{lift.LiftID}}" role="tabpanel" aria-labelledby="lift{{lift.LiftID}}">
			
			<form>
				<div class="md-form row" ng-repeat="set in lift.setList">
					<div class="col-3 px-0">
						<input type="number" id="weight{{lift.LiftID}}:{{set.setID}}" ng-model="set.weight" class="form-control" />
						<label for="weight{{lift.LiftID}}:{{set.setID}}">Weight</label>
					</div>
					<div class="col-1 text-center">
						<p>&times;</p>
					</div>
					<div class="col-3 px-0">
						<input type="number" id="reps{{lift.LiftID}}:{{set.setID}}" ng-model="set.reps" class="form-control" />
						<label for="reps{{lift.LiftID}}:{{set.setID}}">Reps</label>
					</div>
				</div>
			</form>
			<div class="row">
				<button class="ml-0 btn btn-primary" ng-click="addSet(lift.LiftID)">Add Set</button>
				<button class="btn btn-red" ng-click="delSet(lift.LiftID)">Delete Set</button>
			</div>
			
		</div>


	</div>
	<br />
	<button class="btn btn-dark-green col-12 w-100" ng-click="finishWorkout()">Finish Workout</button>

</div>