<!DOCTYPE html>
<html ng-app="gitRipped">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Git -Ripped</title>

	<link rel="stylesheet" href="~/lib/mdboostrap/MDB-Free_4.7.3/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/lib/mdboostrap/MDB-Free_4.7.3/css/mdb.min.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">

	<link rel="stylesheet" href="~/css/site.css" />


	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular-route.js"></script>


</head>
<body ng-controller="LayoutCtrl">
	<!--Navbar -->
	<nav class="mb-1 navbar navbar-expand-lg navbar-dark primary-color">
		<a class="navbar-brand" href="/">Git -Ripped</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#gitNav"
				aria-controls="gitNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="navbar-collapse collapse" id="gitNav">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/">
						Home
						
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Stats</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/home/findplan">Find A Plan</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Progress</a>
				</li>
			</ul>
			<ul class="navbar-nav ml-auto nav-flex-icons" ng-if="loggedIn" ng-cloak>
				<li class="nav-item dropdown text-center">
					<a class="nav-link dropdown-toggle" id="navProfile" data-toggle="dropdown" aria-haspopup="true"
					   aria-expanded="false">
						<i class="fas fa-user"></i>
					</a>
					<div class="dropdown-menu dropdown-menu-right  dropdown-default"  aria-labelledby="navProfile">
						<a class="dropdown-item" href="/home/ViewAccount">View Account</a>
						@*<a class="dropdown-item" href="#">Another action</a>*@
						<a class="dropdown-item" href="#">Sign Out</a>
					</div>
				</li>
			</ul>
			<button class="btn blue-gradient" ng-if="!loggedIn">Sign In</button>
		</div>
	</nav>
	<!--/.Navbar -->

	<div class="body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; 2019 - git_ripped</p>
		</footer>
	</div>

	<script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
	<!-- Bootstrap tooltips -->
	<script type="text/javascript" src="https://unpkg.com/popper.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="~/lib/mdboostrap/MDB-Free_4.7.3/js/bootstrap.js"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="~/lib/mdboostrap/MDB-Free_4.7.3/js/mdb.js"></script>
	<script type="text/javascript" src="~/js/site.js"></script>
	@RenderSection("Scripts", required: false)
</body>
</html>
