body {
	line-height: 1.4;
}

.single-stat {
	box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.2);
	padding: 10px;
	margin-top: 60px;
	margin-right: 60px;
    transition: .2s;
}

@media screen and (max-width: 767px) {

	.single-stat {
		box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.2);
		padding: 10px;
		margin-top: 60px;
		margin-right: 800px;
	}

}


h4 {
	line-height: 100px;
}

#vitals{
    height:  480px;
}

.single-stat:hover{
    transform: scale(1.05);
}

#gitstats{
    height: 480px;
}

#records{
    height: 480px;
}

#records h4{
    line-height:75px;
}

.btn-primary{
    margin-top:50px;
}

fas fa-weight fa-5x {
	margin-bottom: 120px;
}
